.app-add-form {
    margin-top: 10px;
    padding: 25px;
    background-color: rgb(90, 94, 94);

    border-radius: 10px;
    border: 2px solid black;
}

.add-form {
    margin-top: 20px;
}

.add-form input {
    width: 350px;
    margin-right: 20px;
    border: 2px solid black;
}

